
/* global and body settings */

body {
    background-color: #EEEEEE;
    font-family: "Open Sans", "Helvetica Neue", Ubuntu, Arial, sans-serif;
    font-size: 90%;
    color: black;
}

/* site top image */

#banner {
    width: auto;
    height: 200px;
    background-image: url("banner-map.png");
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: bottom;
}

#banner p {
    position: absolute;
    top:100px;
    left:70px;
    font-size: 150%;
    font-weight: bold;
    font-size: 40px;
    color: #006600;
    text-shadow: 0 0 20px white, 0 0 18px white, 0 0 16px white, 0 0 14px white, 0 0 12px white, 0 0 10px white, 0 0 8px white, 0 0 6px white;
}

/* links */

a {
    color: #006600;
    text-decoration: none;
}
    a:hover {
    color: #006600;
    text-decoration: underline;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #444;
    border-bottom: 2px solid #F3F3F3;
    padding-bottom: 0.1em;
}

/* links inside the headings - the standard settings */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: bold;
    color: green;
}

/* main menu navigation */

nav {
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 0px solid #dcddde;
    background-color: #ffffff;
    border-radius: 0px;
    /*box-shadow: 0 0 8px #eee;*/
    background-color: #444;
    font-size: 1.3em;
}

nav ul {
    margin:0;
    padding:0;
    padding: 0px;
    display: block;
    list-style-type:none;
}

nav li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    border-right: 2px solid #F3F3F3;
    /*border-left: 1px solid #DDDDDD;*/
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

/*
nav li:first-child {
    border-right: none;
}

nav li:last-child {
    border-right: none;
}
*/

.nav a {
text-decoration:none;
color: #F3F3F3;
}

nav li:hover {
    background: #666;
    color: #FFF;
}

/* footer */

footer {
    position: relative;
    margin: 0;
    padding: 0px;
    font-size: 80%;
    color: #888;
    background-color: #EEE
}

/* footer navigation */

footer nav ul {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: auto;
    list-style-type: none;
}

footer nav li {
    height: 1.5em;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

footer nav li:last-child {
border  -right: none;
}

footer nav li:hover {
    background: #EEE;
    color: #FFF;
}


/* list with images and headings */

.image-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.image-list li {
    padding: 10px;
    overflow: auto;
}

.image-list li img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 15px 0 0;
    background: red;
}
